*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADE */

.container-header{
    height: 200px;
    background-color: rgb(8, 158, 218);
}

.header-pattern{
    height: 200px;
    background-image: url(../img/pattern.png);
    
}

.title{
    margin-top: 30px;
}

.header-logo{
    height: 100px;  
    margin-top: 100px;  
} 

/* END HEADER */
 
/* MAIN */

.images{
    margin-top: 20px;
}

.paragraph{
    margin-top: 20px;
}

.main-container{
    margin-top: 20px;
}

.lista{
    margin-top: 20px;
    margin-left: 30px;
}



.main-title{
    font-size: 75px;
}

/* END MAIN */

/* FONTS */

.font-data{
    color: darkgray;
    font-size: 15px;
}

.font-crediti{
    color: darkgray;
}

.highlighted{
    background-color: yellow;
}

/* TABLE */

.thead{
    background-color: rgb(8, 158, 218);
}

.font-thead{
    color: white;
}

.bg-table-color{
    background-color: rgb(151, 253, 253);
}

.bg-table-color2{
    background-color: rgb(255, 255, 255);
}

.tabella{
    margin-top: 20px;
    border-spacing: 0px;
    text-align: left;
}

td{
    padding: 5px;
    width: 10%;
}

/* END TABLE */

/* LAST CREDITS */

.correlati1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    margin: 10px 0px;
    padding: 10px;
}

.correlati2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    margin: 10px 0px;
    padding: 10px;
}

.font-correlati{
    color: white;
    padding: 15px;
    font-weight: bold;
}

.spacing{
    margin-top: 20px;
}